* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active,
img {
    width: 50px;
}

main,
#about,
img {
    width: 1500px;
}

h1 {
    padding: 2rem;
    text-align: center;
}

p {
    text-align: center;
}


/* Galery */

#galery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 2rem;
}

#galery,
h1 {
    font-size: x-large;
}

#galery h2 {
    color: #1e83b6;
}

#galery h3 {
    color: #143642;
}

#galery h4,
h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

#galery .box {
    padding: 20px;
}

#galery img {
    width: 216px;
}

#galery div {
    display: flex;
    column-gap: 20px;
}

#galery div .box {
    background-image: url("Dream_Team_Logo.jpg");
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}


/* Akhir Galery */


/* Contact */

input[type="text"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #90b6e1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


/* Akhir Contact */


/* Footer */

.footer {
    left: 0;
    bottom: 0;
    width: 102%;
    background-color: #333;
    color: white;
}

.footer,
a {
    color: #fff;
    text-decoration: none;
}